
* {
    margin:0;
    padding: 0;}

header{
	
  border-radius: 10px;
  background-color: #deeaee;
  padding:10px;
  width: 100%;
  height: auto;
 padding-top: 10px;
 font-style:Monaco;
 text-align:center;
 color:grey;
 margin-bottom:5px;
}

.intro,.workouts-videos ,#last-section {	
margin-top:5px;
margin-left:10px;
margin-right:10px;
padding: 10px;
background-color: #deeaee;
border-radius: 10px;
color:grey;

}
.intro2 , .prefer, #change-workout, .rules{
margin-top:5px;
margin-left:10px;
margin-right:10px;
padding: 10px;
background-color: rgb(70, 130, 180,0.2);
border-radius: 10px;
color:grey;	
	
}
#rules-border{
border-color:rgb(70, 130, 180,0.2);
border-width:5px;
border-style:dashed  ;
border-width:60px;
padding-top:20px;
margin-bottom:20px;
}

.rules{
	text-align:center;
	
}

legend{
color:rgba(0, 0, 200, 0.4);
}

.preferences{
 padding: 10px;
 border:7px double;
 border-color:grey;
 margin:4px;
 padding:4px;
 border-radius: 10px;
 }
 
.submit1, .change-button{
display:block;
margin-left: auto;
margin-right: auto;
background-color:  rgba(0, 0, 200, 0.1);
border-radius: 10px;
height:50px;
width:200px;
border-color:rgba(0, 0, 200, 0.4);
border-width: 5px;
color:black;
cursor: pointer;
}

input[type=radio]{
  margin-left:10px;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.custom-control-label{
	
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;

}

.abs, .legs{
margin-bottom:10px;
margin-left:10px;
margin-right:10px;
padding: 10px;
background-color: rgb(70, 130, 180,0.2);
border-radius: 10px;
display:block;
clear:both;
}	

#rules-abs-lable, #rules-legs-lable{
	
	color: rgba(0, 0, 200, 0.4);
}

img{
    width: 70%;
    opacity:65%;
    height: auto;
    border-radius: 10px;
    padding-bottom: 10px;
	position:relative;
	right:-2%;

}
